{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="home">
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap justify-center items-start gap-8 md:gap-12">

                <!-- Text Notes Card -->
                <div class="p-4 w-full md:w-1/2 lg:w-1/3">
                  <a class="text-indigo-500 inline-flex items-center" href="/selectText">
                    <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                      <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
                      <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Text Notes</h1>
                      <p class="leading-relaxed text-gray-600 mb-3">Text-based notes, more than in PDFs.</p>
                      <h2 class="title-font sm:text-2xl text-xl font-small text-gray-900 mb-3">Learn more</h2>
                    </div>
                  </a>
                </div>
                
                <!-- PDF Notes Card -->
                <div class="p-4 w-full md:w-1/2 lg:w-1/3">
                  <a class="text-indigo-500 inline-flex items-center" href="/selectPdf">
                    <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                      <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
                      <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">PDF Notes</h1>
                      <p class="leading-relaxed text-gray-600 mb-3">Here you get human written handwritten notes in PDF form.</p>                      
                      <h2 class="title-font sm:text-2xl text-xl font-small text-gray-900 mb-3">Learn more</h2>
                  </div>
                </a>
                </div>

              </div>
            </div>
          </section>
    </div>
</body>
</html>

{% endblock %}
